@import "tailwindcss";

[data-theme="default"] {
  --color-primary: #d4e05e;
  --primary-rgb: 212, 224, 94;
}

@theme {
  --color-primary: var(--color-primary);
}

body {
  @apply bg-[url('/assets/images/bg-images/body-bg.jpg')] bg-cover bg-no-repeat min-h-screen;
}

body,
body * {
  @apply font-normal;
}

/* dashboard title shadow */
.dashboard-title-container {
  @apply bg-[url('/assets/images/bg-images/dashboard-title-shadow.png')];
}

/* video slider styles */
.video-slider.MuiSlider-root {
  @apply text-primary;
}

.video-slider .MuiSlider-thumb:hover,
.video-slider .MuiSlider-thumb.Mui-focusVisible {
  @apply shadow-[0px_0px_0px_8px_rgba(var(--primary-rgb),0.16)];
}

.video-slider .MuiSlider-markLabel {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  @apply text-sm text-white text-shadow-[0px_1px_5px_rgb(0,0,0)];
}

.video-slider .MuiSlider-markLabel.MuiSlider-markLabelActive {
  @apply font-bold;
}

.video-slider .MuiSlider-mark {
  @apply w-2 h-2 rounded-full bg-white opacity-[.8];
  transform: translate(-4px, -50%);
}
